body {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    color: #333;
    background-color: #fdfdfa;
}

/* cover page */
#cover-screen {
    height: 100vh;
    background-image: linear-gradient(#163485, #10255e);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cover-screen h1 {
    font-family: 'Inria Sans', sans-serif;
    color: #fdfdfa;
    font-size: 42px;
    text-align: center;
    line-height: 150%;
}

#continue-btn{
    margin-top: 50px;
    font-size: 24px;
    border: 2px solid #72E5F9;
    padding: 5px 10px 7px;
    color: #72E5F9;
    font-family: 'Roboto Mono', sans-serif;
}

#continue-btn:hover{
    border: 2px solid transparent;
    color: #10255e;
    background-color: #72E5F9;
    text-decoration: none;
}

/* navbar */
#navbar {
    margin-bottom: 20px;
    padding-top: 10px;
    display: flex;
    background-color: #10255e;
    z-index: 1;
}

.nav-link {
    width: 75px;
    border: solid 1px transparent;
    border-top: solid 4px transparent;
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin: 0 20px;
    padding: 7px 5px 3px;
    color: #fdfdfa;
    text-decoration: none;
}

.nav-link:hover {
    color: #fdfdfa;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.extra-margin {
    margin-bottom: 67px;
}

.current-page {
    border-color: #b10101 #10255e transparent;
    background-color: #fdfdfa;
    color: #333;
}

.current-page:hover {
    color: #333;
    text-decoration: none;
}

/* about section */
#about {
    min-width: 80%;
    margin: 0 auto;
    padding: 125px 20px;
    font-size: 20px;
    line-height: 150%;
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
}

.skills {
    font-size: 24px;
    color: #163485;
}

/* projects section */
h2 {
    padding: 65px 20px 15px 20px;
    font-size: 32px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #5e5d5d;
}

.card {
    max-width: 350px;
    margin-bottom: 25px;
}

.card:hover, .card-text {
    text-decoration: none;
    color: #333;
}

.project-img {
    width: 75%;
    margin: 0 auto;
}

/* resume section */
#resume {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;  
}

#resume-btn{
    margin: 35px 0 75px 0;
    font-size: 24px;
    border: 2px solid #163485;
    padding: 5px 10px 7px;
    color: #163485;
    font-family: 'Roboto Mono', sans-serif;
}

#resume-btn:hover{
    border: 2px solid transparent;
    color: #fdfdfa;
    background-color: #163485;
    text-decoration: none;
}

#ryan-picture {
    max-width: 265px;
    border-radius: 50%;
    margin-top: 125px;
}


/* contact section */
#contact-break {
    height: 10vh;
    border-radius: 30px;
    position: relative;
    bottom: -30px;
    background-color: #fdfdfa;
}

#contact {
    height: 90vh;
    background-image: linear-gradient(#333, #1a1a1a);
    color: #fdfdfa;
}

#contact p {
    line-height: 150%;
    margin: 0 20px;
}


@media screen and (max-width: 768px) {
    #about-me {
        width: 50%;
    }
    #ryan-picture {
        height: 250px; 
    }
}

@media screen and (max-width: 576px) {
    header {
        width: 100%;
        text-align: center;
    }
    nav {
        justify-content: space-around;
    }
    #aboutme-article {
        flex-direction: column;
    }
    article h2 {
        padding: 15px 20px;
        font-size: 32px;
        font-family: 'Open Sans', sans-serif;
    }
    #about-me {
        width: 100%;
    }
    
    #ryan-picture {
        height: 250px; 
    }
    
    article p {
        line-height: 150%;
        margin: 0 20px;
    }
}